.top10 {
  margin-top: 10px;
}

.top20 {
  margin-top: 20px;
}

.bottom10 {
  margin-bottom: 10px;
}

.bottom20 {
  margin-bottom: 20px;
}


.r10 {
  margin-right: 10px;
}

.r20 {
  margin-right: 20px;
}

.l10 {
  margin-left: 10px;
}

.l20 {
  margin-left: 20px;
}

.w100 {
  width: 100% !important;
}

.h100{
  height: 100% !important;
}

.w50pr {
  width: 50% !important;
}

.h50pr{
  height: 50% !important;
}

.w30 {
  width: 30%;
}

.w50 {
  width: 48%;
}

.w25 {
  width: 23%;
}

.w70 {
  width: 68%;
}

.w40 {
  width: 40%
}

.w60 {
  width: 58%;
}
